@import "tailwindcss";

:root {
  --background: #FFFDD0;
  --foreground: #bd5b5b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-noto-sans);
  --font-gujarati: var(--font-noto-sans-gujarati);
  --font-gujarati-serif: var(--font-noto-serif-gujarati);
  --font-display: var(--font-playfair);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans), sans-serif;
}


.rich-text-hero p {
  max-width: 42rem;
  margin: 1.25rem auto 0;
  font-family: var(--font-noto-sans-gujarati);
  font-size: 1rem;
  line-height: 1.75rem;
  color: #5C4650;
}

@media (min-width: 768px) {
  .rich-text-hero p {
    font-size: 1.125rem;
  }
}